.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
}


nav a {
  font-size: 18px;
}

nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}

.navbar-brand {
    margin-top: 10px;
}

.navbar-brand {
  font-size: 30px;
}

nav.navbar.shrink {
  transition: all 0.5s ease;
}

nav.navbar.shrink {
  min-height: 35px;
  background-color: #000 !important
}

nav.shrink a {
  font-size: 15px;
  transition: all 0.5s ease;
}

.navbar-brand>img {
    display: block;
    margin-top: 10px;
}

nav.shrink .navbar-brand img {
  width: 150px;
  margin-top: 0;
  transition: all 0.5s ease;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

nav.shrink ul.nav.navbar-nav {
    float: right;
    padding: 15px 0;
}

nav.shrink a.navbar-brand {
    margin-top: 2px;
}

body {font-family: 'Poppins', sans-serif; color:white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
p {font-family: 'Roboto', sans-serif; font-size:16px; font-weight:400}
.fwhite {color:white!important}
.container-full {margin:0 auto; width: 100%}
.padding-gutter-none {padding-left:0; padding-right:0}
.fbold {font-weight:bold}
.mainTitle {padding-bottom:20px}
h2.mainTitle {font-size:30px; width:75%; margin:0 auto; line-height:37px; font-weight:400; color:#3C3C3B}
.mainDescription {display:block; width:70%; margin:0 auto; padding-bottom:20px}

nav.navbar.navbar-inverse {margin-bottom:0!important; margin-bottom:15px!important; background-color: rgba(0,0,0,0.0);}
.navbar-inverse .navbar-collapse, nav.navbar.navbar-inverse.navbar-fixed-top {height:55px !important}
.navbar-inverse {border:none;}
/* NEW ----------------------------------------------------------------------- */
ul.nav.navbar-nav {float:right; padding:50px 0}
/* NEW ----------------------------------------------------------------------- */

ul.nav.navbar-nav a {font-size:14px; font-weight:400; padding:3px 20px; color:#a7a7a7; transition: color 0.2s ease;}
ul.nav.navbar-nav a :nth-child(2) {color:red!important}
ul.nav.navbar-nav a:hover {color: #fff; text-decoration: none;}
ul.nav.navbar-nav li a.customlink {color:#999!important}


.navbar-inverse {background-color:transparent!important}
.login a {border:1px solid white; border-radius:15px; transition: all 0.5s ease;}
.login a:hover {text-decoration: none !important; background-color: #000 !important; border-radius:15px}
.navbar-inverse .navbar-nav>.active>a {background-color:transparent!important}
.navbar-fixed-top {position:fixed!important}
.mainContainer {color:#6F6F6E; overflow-x: hidden}/* Prevent scroll on narrow devices */
.mainContainer img {width:100%; height:auto; overflow:hidden}
a.navbar-brand {margin-top:20px}
.active {text-decoration:underline}

/* Video CSS */
.homepage-hero-module {border-right: none; border-left: none; position: relative; background-color: rgba(0,0,0,0.0)}
.headline h1 {font-size:40px; font-weight:400; display:block; width:58%; margin:0 auto}
.headline span {color:#00CCFF}
.headline span + span {color:#FF0000}
.headline span + span + span {color:#FFFF00}
.no-video .video-container video, .touch .video-container video {display: none}
.no-video .video-container .poster, .touch .video-container .poster {display: block !important}
.video-container {position: relative; bottom: 0%; left: 0%; height: 100%; width: 100%; overflow: hidden; background: #000}
.video-container .poster img {width: 100%; bottom: 0; position: absolute}
.video-container .filter {z-index: 100; position: absolute; background: rgba(0, 0, 0, 0.4); width: 100%}
.video-container .title-container {z-index: 1000; position: absolute; top: 35%; width: 100%; text-align: center; color: white}
.video-container .description .inner {font-size: 21px; width: 67%;  margin: 0 auto; font-weight:100; text-align:center; margin:30px auto}
.video-container .link {position: absolute; bottom: 3em; width: 100%; text-align: center; z-index: 1001; font-size: 2em; color: white}
.video-container .link a {color: white}
.video-container video {position: absolute; z-index: 0; bottom: 0}
.video-container video.fillWidth {width: 100%}
.arrow-scroll {margin:85px auto 0 auto}
.arrow-scroll img {width:auto!important}


/* CPG */
.contentSection {margin:30px auto}
.DescriptionSection {margin:80px 0}
.DescriptionSection h2 {color:#3C3C3B; font-size:30px; font-weight:400}
.DescriptionSection p {padding-top:5px}
.block-container {padding-top:55px; position:relative}

/* Buttons */
.vidBtn-container {margin:40px 0}
.pink-btn {background:#C90B51; border:none; border-radius:25px; color:white; padding:10px 20px; font-size:16px; min-width:200px; margin:0 5px}
.pink-btn:hover, .pink-btn:visited {color:white; background:#D6216B}
.play-btn {position:absolute; left:0; right:0; top:43%; bottom:0; text-align:center}
.play-btn img {width:auto!important}
.light-btn {background:#F4F4F4; border:none; border-radius:25px; color:#1D1D1B; padding:14px 15px; font-size:16px; min-width:200px; margin:20px 0; font-family: 'Poppins', sans-serif; font-weight:400}
.modal-dialog {margin:15% auto!important}
.modal-title {color:#1D1D1B!important}

/* Insight Section */
.InsightSection {text-align:center; color:white; margin:0; padding:70px 0}
.InsightGradientbg {
background: -moz-linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(3,173,199,1)), color-stop(100%, rgba(131,31,130,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#831f82', endColorstr='#03adc7',GradientType=1 ); /* ie6-9 */
}
.dashImgholder img, .dashImgholder-inner img {width:860px; height:502px}
.DescriptionSection.custom {margin-top:25%}
.DescriptionSection.custom.inner {margin-top:15%}
.DescriptionSection.custom h2, .DescriptionSection.custom p {color:white}
.insightTable {border:1px solid #ccc; border-radius:4px; width:60%; margin:40px auto; min-height:120px; text-align:left}
.insightTable .col-md-6 {padding:20px 30px}
.insightTable h6 {font-weight:700; font-size:22px; padding-bottom:10px}
.insightTable .col-md-6:first-child {border-right:1px solid #ccc}
.insightTable ul {padding-left:0!important}
.insightTable li {list-style:none; line-height:30px; font-size:18px}
.imageDivider {padding:30px 0}

/* DisruptiveCPG */
.DisruptiveCPG {background:#F2F2F2}
.DisruptiveCPG, .partners {text-align:center; padding:60px 0}
.partners {background:#fbfbfb}
.col-4-Section {padding-top:60px}
.col-4-Section, .col-3-Section {text-align:center}
.col-4-Section img, .col-3-Section img, .col-5-Section img {width:auto!important}
.col-4-Section span, .col-3-Section span {display:block; padding:20px 0}
.col-4-Section h3 {font-size:21px; font-weight:400; color:#3C3C3B; margin:10px 0}
.col-3-Section h3 {font-size:24px; font-weight:100; color:#3C3C3B; padding-bottom:10px}

.customer-section img {width:134px; height:121px} /*editted 08192016*/

.img-Tablet img {width:auto; height:auto}

/* Testimonials */

.skyblue-bg {background:#00B0C8}
.container.logo {padding-top:60px}
.logo img {width:75%!important; height:auto!important; margin:15px 0}
.testimonialSection {text-align:center; padding:60px 0; color:white}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {opacity:1}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {left:0; opacity:0; z-index:1}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity:1}
.carousel-fade .carousel-control {z-index:2}
.testimonials-holder {margin:30px 0 10px 0}
.testimonials-holder h3 {margin-bottom: 50px}
.testimonials {padding:40px 180px 0 180px; min-height:200px}
.testimonials img {float:left}
.testimonials img {width:auto; height:auto}
.testimonials-quote blockquote {line-height:28px; border:0; margin:5px 0 5px 10px; padding:0; position:relative; float:left; width:78%;
padding-left:55px; font-size:16px; font-weight:400; text-align:left}
.testimonials-quote blockquote span {display:block; float:left; padding-top:30px; font-size:14px}

.testimonials-quote blockquote:before {
font-style:normal;
	font-weight:700;
font-size:32px;
display:block;
color:white;
content:"\201C";
position:absolute;
left:30px;
top:10px
}

.testimonials-quote blockquote:after {
font-style:normal;
font-weight:700;
font-size:32px;
line-height:28px;
color:white;
display:inline-block;
content:"\201D";
height:28px;
margin-left:5px;
vertical-align:middle
}
.carousel-control .icon-prev:before, .carousel-control .icon-next:before {display:none}

.carousel-control.left, .carousel-control.right {background-image:none}

.icon-prev img, .icon-next img {width:auto; height:auto}

/* Request a Demo */
.requestDemo {background:#242035; padding:50px 0 70px 0; color:white; text-align:center; font-family: 'Roboto'}
.demoInputs {padding-top:30px}
.demoInputs input.form-control {padding:0 15px; height:43px}
.btn-submit {width:100%; background:#00B0C8; color:white; font-size:14px; font-weight:400; padding:10px 0}
.btn-submit:hover, .btn-submit:visited, .btn-submit:focus {color:white; background:#05C7D6}

/* Footer */
.footer {background:#1D1D1B; padding:40px 0}
.footer a{color:#6F6F6E; text-decoration:none}
.footer a:hover {color:#6F6F6E; text-decoration:underline}
.footer ul {text-align:right}
.footer h5 {font-size:16px; padding-bottom:10px}
.footer ul li{display:inline; color:#6F6F6E; font-size:15px; margin:20px 10px}
.footer ul li:last-child {margin-right:0!important}
.footer .yeartxt {font-size:14px; color:#6F6F6E; text-align:right; padding:10px 0}
.emailLink a {color:white; text-decoration:none}
.emailLink a:hover {color:white; text-decoration:underline}


/* Inner Section */
.dashGradientbg-inner {
background: -moz-linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(3,173,199,1)), color-stop(100%, rgba(131,31,130,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(3,173,199,1) 0%, rgba(131,31,130,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#831f82', endColorstr='#03adc7',GradientType=1 ); /* ie6-9 */
padding-top:130px}
.dashImgholder-inner img {width:860px; height:502px}
.DescriptionSection.custom h2, .DescriptionSection.custom p {color:white}


.block-container.custom img {width:694px; height:388px; position:relative; left:-145px; margin:20px 0 50px 0}
.iconSection img{width:auto!important; height:auto!important}

.container.contentSection.custom {margin-top:70px}
.container.contentSection.custom .DescriptionSection {margin:0 0 30px 0}
.DescriptionSection.custom-tweak {margin-top:100px!important}
.innerTopbanner h1 {font-size:40px; font-weight:400; color:white; margin:0; padding:0}
.innerTopbanner h3 {font-size:21px; font-weight:400; color:white; margin-top:20px; padding:0}
.innerTopbanner p {font-size:21px; font-weight:200; color:white; margin-top:10px}
.DescriptionSection.custom.innerTopbanner {margin-top:73px}
.services {padding:50px}
.col-4-Section.custom {padding-top:0}

.midBlue-bg {background:#495E8C; padding-top:60px}
.solutions {text-align:center; color:white}

/* 5 columns hack*/
.five-col-custom {padding:50px 30px; color:white; text-align:center}
.col-5-Section p {text-align:left}

.straightpathInsight {background:#f4f4f4; padding-top:50px; color:#3C3C3B; text-align:center}
.img-Tablet2 img {width:auto; height:auto}

/* Story Lines */
.storyLines {text-align:center; color:white; padding:70px 0!important}
.mainDescription.custom {padding:30px 0}

/* Chapter 2 */

.chapter2, .chapter3 {text-align:center; padding:70px 0!important; color:white}
.chapter2 {color:#6F6F6E}
.parallaxbox1{ 
background:url(../images/storyline-bg.jpg) no-repeat fixed; background-position: 50% 50%;  height:auto; margin:0 auto; width:100%; position:relative; 
box-shadow: 0 0 10px rgba(0,0,0,0.3); padding:40px 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* Chapter 3 */
.parallaxbox2{ 
background:url(../images/chapter3-bg.jpg) no-repeat fixed; background-position: 50% 50%;  height:auto; margin:0 auto; width:100%; position:relative; 
box-shadow: 0 0 10px rgba(0,0,0,0.3); padding:40px 0;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* Visualization */
.visualizations {text-align:center; padding:70px 0}

/* Bedrock Tech */
.bedrockTech {background:#12A4AF; color:white; text-align:center; padding:70px 0}
.bedrockTech h3 {color:white}
.bedrockTech p {text-align:left}




/* SCROLL TO TOP */
.scroll-top-wrapper {position:fixed; opacity:0; visibility:hidden; overflow:hidden; text-align:center; z-index:99999999; background-color:#18191b; color:#eee;
width:48px; height:48px; line-height:48px; right:10px; bottom:15px; padding-top:2px; border-radius:50%; 
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

}
.scroll-top-wrapper:hover {background-color:#103a75; opacity:0.4; filter: alpha(opacity=70)}
.scroll-top-wrapper.show {visibility:visible; cursor:pointer; opacity:0.7; filter: alpha(opacity=70)}
.scroll-top-wrapper i.fa.fa-chevron-up {line-height: inherit; font-size:22px; margin-top:-5px}



/**/
.beforeandafterSection {width:75%; margin:0 auto; padding:30px}
.ba-slider {position:relative}
.ba-slider img {width:100%; display:block; max-width:none}
.ba-slider .resize {position:absolute; top:0; left:0; height:100%; width:50%; overflow:hidden}
.ba-slider .handle { /* Thin line seperator */
position:absolute; left:50%; top:0; bottom:0; width:0; margin-left:-2px; background: rgba(0,0,0,.5); cursor: ew-resize;


}
.ba-slider .handle:after {  /* Big orange knob  */
position: absolute; top:50%; width:64px; height:64px; margin:-32px 0 0 -32px; content:'\21d4'; color:white; font-weight:bold; font-size:36px; text-align:center; line-height:64px; 
background: #5191CF; /* @orange */
border:1px solid #145284; /* darken(@orange, 5%) */
border-radius: 50%; transition:all 0.3s ease; box-shadow: 0 2px 6px rgba(0,0,0,.3), inset 0 2px 0 rgba(255,255,255,.5), 
inset 0 60px 50px -30px #3D85BF; /* lighten(@orange, 20%)*/ 
box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);

}
.ba-slider .handle.draggable:after {width:48px; height:48px; margin:-24px 0 0 -24px; line-height:50px; font-size:30px}

  
/* Customers Section */
.customersbg-inner {background:url(../images/customers-top-banner.jpg) no-repeat; background-size:cover; padding-bottom:60px}
.Default-bg-gray.custom {padding:60px 0}

.customersInnerSection {padding:60px 0 10px 0; text-align:center}
.customersInnerSection span img {width:auto; height:auto; margin-bottom:50px}
.customers-Sec {padding:30px 0; border-bottom:1px solid #808080}
.borderBtm-none {border-bottom:none}
.customers-Sec h2 {color:#3C3C3B; font-size:21px; font-family: 'Poppins', sans-serif; text-align:left; padding-bottom:10px} 
.customers-Sec p {font-size:16px; color:#6F6F6E; text-align:left; padding-bottom:10px}
.testInfoSection {float:right; padding-bottom:20px}	
.testInfoSection span {float:right; display:block; clear:both}
.testInfoSection .testiName {color:#3C3C3B; font-size:16px; font-weight:bold; font-family: 'Roboto', sans-serif}
.testInfoSection .testiPOs {font-style:italic; color:#8F8E8E; font-size:16px; padding:5px 0}
.testInfoSection .testiCompany {font-size:18px; font-weight:bold; color:#1D1D1B}


	
/* About Section */

.aboutbg-inner {background:url(../images/about-top-banner.jpg) no-repeat; background-size:cover; padding-bottom:60px}
.aboutbg-inner .iconSection img, .customersbg-inner .iconSection img, .contactbg-inner .iconSection img, .blogbg-inner .iconSection img {float:left; padding-top:0}
.DescriptionSection.custom h2, .DescriptionSection.custom p {color:white}
.Default-bg-gray {background:#F4F4F4; padding:80px 0 20px 0}
.Default-bg-gray .mainTitle {text-align:center}
.Default-bg-gray .mainDescription {width:100%; text-align:left}


.ourTeam {text-align:center; padding:60px 0}
.ourTeam .memberSec {margin:40px auto 20px auto}
.ourTeam .memberSec img {width:227px; height:304px} /*editted 08192016*/
.ourTeam h3 {font-size:16px; font-weight:700; color:#3C3C3B; padding-bottom:20px}
.ourTeam .btn-linkedin {background:#359BD3; color:#fff; width:60px; height:40px; font-size:18px; line-height:26px}
.ourTeam .btn-linkedin:hover, .ourTeam .btn-linkedin:active, .ourTeam .btn-linkedin:visited, .ourTeam .btn-linkedin:focus 
{background:#1886B7!important}
.ourTeam  p {text-align:left; padding:30px 0 20px 0}

.investorSection {background:url(../images/investorBG.jpg) no-repeat; background-size:cover; min-height:100px; padding:60px 0; color:white; text-align:center}
.investorSection img {width:270px; height:145px; margin:20px; margin-top:10px}  /*editted 08192016*/
.investorSection .mainTitle {padding-top:30px}
.investorLogo {display:inline}
.bgWhite {background:white}

/* Blog */
.blogbg-inner {background:url(../images/blog-top-banner.jpg) no-repeat; background-size:cover; padding-bottom:60px}
.blogSection {padding:60px 0}
.blogSection h2 {font-family: 'Poppins', sans-serif; font-size:16px; font-weight:700; color:#3C3C3B; padding-top:10px}
.blogSection p {color:#6F6F6E; font-family: 'Roboto', sans-serif; font-size:16px; color:#6F6F6E; padding-top:10px}
.blogSection .titleSec {min-height:42px}

/* Contact */
.contactbg-inner {background:url(../images/contact-top-banner.jpg) no-repeat; background-size:cover; padding-bottom:60px}
.aboutbg-inner img, .customersbg-inner img, .contactbg-inner img, .blogbg-inner img  {width:auto; height:auto; float:right; padding-top:80px}
.contactFormsection {padding:70px 0; text-align:center}
.contactMainform {width:580px; min-height:300px; -webkit-box-shadow: 0px 1px 19px 2px rgba(158,158,158,0.47);
-moz-box-shadow: 0px 1px 19px 2px rgba(158,158,158,0.47);
box-shadow: 0px 1px 19px 2px rgba(158,158,158,0.47); margin:50px auto; padding:40px 60px}
.contactMainform h4 {text-align:left; color:#3C3C3B; font-size:24px; padding-bottom:5px}
/*.contactMainform input, .contactMainform select {border:1px solid #B9B9B8; height:50px; margin-bottom:13px; width:100%}*/
.contactMainform textarea {height:160px}
.form-control {color:#999f9f}
.conttact-btn {background:#1699D3; width:100%; padding:20px 0; margin-top:13px; font-size:19px; color:#fff}
.conttact-btn:hover, .conttact-btn:active, .conttact-btn:focus {color:#fff; background:#05ACE5}
.contactFormsection p {font-size:22px}
select.form-control, input.form-control[type="file"] {
  line-height: 45px; 
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background:url(../images/selectdownIcon.png) no-repeat 96.6% 21px;
	   -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;

}

select ::-ms-expand {
    display: none;
}

/* Accordion */
.customAccordion {padding:40px 0}
#accordion .panel-heading { padding: 0;}
#accordion .panel-title > a {display: block; padding:0.4em 0.6em; outline:none; font-weight:bold; text-decoration: none}
.panel {border-radius:0!important}
#accordion .panel-title > a {font-size:16px; color:#3C3C3B; font-family: 'Poppins', sans-serif; font-weight:400!important; padding:20px 20px}
.panel-default>.panel-heading {background:#DFDFDF}
.panel-body {max-height:340px; height:340px; overflow-y: scroll; overflow-x: hidden; background:white; box-sizing: border-box; padding-bottom:20px}
.panel-body p {padding:10px 5px 0 5px}
.panel-body h4 {font-size:16px!important; font-family: 'Poppins', sans-serif; color:#3C3C3B; padding:10px 5px 0 5px; margin-bottom:-5px}
.panel-body ul {padding:20px 30px}
.panel-body  b {font-size:16px!important; font-family: 'Poppins', sans-serif; color:#3C3C3B; font-weight:400; padding:0; margin:0}
.panel-body span {padding:10px 5px; display:block}
/* #accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
    content:"\e113";
    float: left;
    font-family: 'Glyphicons Halflings';
	margin-right :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e114"; Accordion Arrow */
}



/* NEW ----------------------------------------------------------------------- */
.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.3s ease-in-out;
    height: auto;
    background-color:transparent;  
    
    text-align: center;
    line-height: 40px;
}

.navbar-fixed-top.active {
    background:#34486d!important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		transition: all 0.3s ease-in-out;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color:#34486d!important}

.carousel-inner img {width:auto; margin:0 auto; text-decoration:none!important}
.carousel-inner .carousel-caption {position:static!important}
.carousel-caption {padding-top:0!important; margin-top:-20px; text-shadow:none!important}
.carousel-inner p {text-decoration:none!important; border-bottom:none!important}
.carousel-caption a, .carousel-caption a:active, .carousel-caption a:focus; .carousel-caption a:visited {text-decoration:none!important}

.carousel-inner .item {text-decoration:none!important}

/* /NEW ----------------------------------------------------------------------- */


/* Media Style */

@media (min-width: 1200px) {
.col-lg-5ths {width: 20%; float: left}
}

@media ( max-width:1199px ){
.block-container.custom img {left:-235px}
.insightTable {width:75%}
.testimonials-quote blockquote {width:74%}

.parallaxbox1 {background:url(../images/storyline-bg.jpg) no-repeat!important; background-size:initial!important; background-attachment:initial!important; height:auto!important; 
-moz-background-size:cover!important;
-webkit-background-size:cover!important;
-ms-background-size:cover!important;
-o-background-size:cover!important;
background-size:cover!important}

.parallaxbox2 {background:url(../images/chapter3-bg.jpg) no-repeat!important; background-size:initial!important; background-attachment:initial!important; height:auto!important; 
-moz-background-size:cover!important;
-webkit-background-size:cover!important;
-ms-background-size:cover!important;
-o-background-size:cover!important;
background-size:cover!important}

/* five columns hack */
div.col-sm-7.five-three, div.col-sm-5.five-two, .col-sm-4.col-5-Section, .col-sm-6.col-5-Section {width: 80% !important; padding-bottom:15px; margin:0 auto; float:none}

}


@media ( max-width:994px ){
a.navbar-brand img {width:150px; height:auto}
ul.nav.navbar-nav a {padding:5px 20px; font-size:14px}
ul.nav.navbar-nav {padding:20px 0}
ul.nav.navbar-nav {padding:20px 0}
.img-Tablet2 img {width:100%; height:auto}
.scroll-top-wrapper {visibility:hidden!important; display:none!important}
}

@media (min-width: 992px) {
.col-md-5ths {width: 20%; float: left}
}


@media ( max-width:991px ){
.logo img {width:30%!important}
.footer ul, .footer .yeartxt {text-align:center; margin-top:30px}
.footer {text-align:center}
.footer ul {padding-left:0}
.footer ul li:last-child {margin-right:10px!important}
.yeartxt {margin:10px 0!important}
ul.social-network {float:none!important}
.DescriptionSection.custom {margin-top:0}
.dashImgholder img, .dashImgholder-inner img {width:100%; height:auto}
.DescriptionSection {margin:20px 0}
.InsightGradientbg, .skyblue-bg {padding-top:30px}
.block-container {padding-top:20px; padding-bottom:30px}
.block-container.custom img {position:static; left:0; margin:20px 0 0 0; width:100%; height:auto}
.DescriptionSection.custom.inner {margin-top:0; margin-bottom:60px}
.DescriptionSection.custom-tweak {margin-top:0!important}
.DescriptionSection.custom.innerTopbanner {margin-top:0}
.insightTable .col-md-6:first-child {border-right:none; border-bottom:1px solid white}
.testimonials {padding:20px 1%}
.testimonials-holder {width:100%; margin:0 auto}
.testimonials-quote blockquote {width:99%; padding:0 12%}
.testimonials-quote blockquote:before, .testimonials-quote blockquote:after {display:none}
.testimonials img {float:none; margin-bottom:30px}
.testimonialSection {padding:30px 0}
.demoInputs input.form-control {margin-bottom:15px}
.mainDescription {width:100%; padding:0 20px}
.aboutbg-inner img, .customersbg-inner img, .contactbg-inner img, .blogbg-inner img {height:auto; float:none; padding-top:80px; text-align:center; width:40%; margin: 0 auto; display:block}

}

@media (max-width: 988px) {
h2.mainTitle {width:100%}
}

@media (max-width: 768px) {
.col-sm-5ths {width: 20%; float: left}
.video-container .title-container {top:25%}

}

@media ( max-width:767px ){
/* NEW ----------------------------------------------------------------------- */

.navbar-inverse .navbar-toggle {background:#41567d!important; border:1px solid #293a5a!important; cursor:pointer}
nav.shrink .navbar-brand img {		
  margin-top: 10px;		
  transition: all 0.5s ease;		
}			
nav.shrink .navbar-toggle {		
    padding: 9px 10px;		
    margin: 5px 15px 13px 0;		
}

nav.shrink a.navbar-brand {
    margin-top: -5px;
}

.navbar-default {
  background: rgba(0,0,0,1)
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: rgba(0,0,0,1)!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
/* /NEW ----------------------------------------------------------------------- */


@media ( max-width:767px ){
/*.navbar-inverse .navbar-toggle {background:#353535!important; border:1px solid #4d5052!important; cursor:pointer}*/	
ul.nav.navbar-nav {float:left; width:100%}
.navbar-nav {margin:0}
.navbar-brand {padding:10px 15px!important}
.navbar-inverse {background: rgba(0,0,0,.7)!important}
.navbar-inverse .navbar-collapse {height:auto!important; background: rgba(0,0,0,.9)!important;}
.navbar-header {padding-top:5px}
ul.nav.navbar-nav a {padding:10px 20px}
/* NEW ----------------------------------------------------------------------- */
ul.nav.navbar-nav a:hover {background:#41567d}
/* /NEW ----------------------------------------------------------------------- */
/*ul.nav.navbar-nav a:hover {background:#1f1e1e}*/
.navbar-toggle {margin-top:25px}
ul.nav.navbar-nav li + li + li + li + li + li {border:none; border-radius:none}
ul.nav.navbar-nav a:hover {text-decoration:none}
/* NEW ----------------------------------------------------------------------- */
.active:hover {background:#41567d}
/* /NEW ----------------------------------------------------------------------- */

.item.active:hover {background:none}
.img-Tablet {padding:0 8%}
.img-Tablet img, .beforeandafterSection {width:100%; height:auto}
.play-btn {top:29%}
.DescriptionSection {text-align:center}
.arrow-scroll {display:none}

/* five columns hack */
div.col-sm-7.five-three, div.col-sm-5.five-two, .col-sm-4.col-5-Section, .col-sm-6.col-5-Section {width: 97% !important}

.col-4-Section {padding-top:10px}

.wow {
visibility: visible !important;
-webkit-animation: none !important;
-moz-animation: none !important;
-o-animation: none !important;
-ms-animation: none !important;
animation: none !important}
.aboutbg-inner .iconSection img, .customersbg-inner .iconSection img, .contactbg-inner .iconSection img, .blogbg-inner .iconSection img {float:none; text-align:center}
.contactMainform {width:80%; margin:0 auto 40px auto}
.contactFormsection p {font-size:18px; padding:0 3%	}
a.navbar-brand {		
  margin-top: -5px;		
}		
nav .navbar-toggle {		
  margin: 5px 15px 13px 0;
}
}
/* check here */
	
@media ( max-width:664px ){	
.investorSection img {margin-top:0}
}
	
@media ( max-width:640px ){
.vidBtn-container button {clear:both; display:block; margin-bottom:10px}
.headline h1, .video-container .description .inner {width:90%}
.vidBtn-container {width:210px; margin:0 auto}
.logo img {width:195px!important; height:auto!important}
.mainTitle {padding:0 20px}
h2.mainTitle {padding-bottom:20px; font-size:26px}
.customers-Sec h2 {font-size:21px}
.testInfoSection, .testInfoSection span {float:left}
.testInfoSection .testiCompany {font-size:16px}

}
@media ( max-width: 495px ){
.video-container .title-container {top:20%}
.footer ul li {line-height:30px}
.insightTable {width:90%}
.mainTitle, .DescriptionSection h2 {font-size:26px}
.insightTable h6 {font-size:20px}
.insightTable li {font-size:16px}
.contactMainform {padding:40px 20px; width:90%}
.conttact-btn {font-size:16px}
.contactFormsection {padding:50px 0}
}

@media ( max-width: 447px ){
.wrp-m input {width:66%}
}

@media ( max-width: 430px ){
.headline h1 {font-size:30px}
.video-container .description .inner {font-size:16px}
.video-container .title-container {top:26%}
.DescriptionSection h2, .services h2, .partners h2 {font-size:26px}
#accordion .panel-title > a {line-height:32px}
}
	
@media ( max-width: 370px ){

}	

@media ( max-width: 350px ){
}



/*=========================
  Icons
 ================= */


ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 10px 0;
	float:right;
}
ul.social-network li {
	display: inline;
	margin: 0 0
}



.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoPinterest:hover i, .social-network a.icoLinkedin:hover i {
	color:white
}
a.socialIcon:hover, .socialHoverClass {
	color:#6F6F6E;
}
.social-circle li {border-right:none!important}

.social-circle li {padding:0 1px}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:20px
}
.social-circle li i {
	margin:0;
	text-align: center
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s
}
.social-circle i {
	color: #6F6F6E;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s
}



.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}

.col-xs-5ths {
width: 20%;
float: left;
}







/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2)
{
.headline h1, .video-container .description .inner {width:100%}
}

/* iPhone 6 portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2)
{}

/* iPhone 6 Plus landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 3)
{
.headline h1 {width:100%}
}

/* iPhone 6 Plus portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 3)
{}

@media (device-height: 640px) and (-webkit-min-device-pixel-ratio: 2) {
   }


@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
.video-container .title-container {top:18%}
 

}

@media (device-height: 360px) and (-webkit-min-device-pixel-ratio: 2) {

 

}

@media (device-height: 320px) and (-webkit-min-device-pixel-ratio: 2) {

.headline h1 {font-size:22px}
.video-container .description .inner {font-size:14px}
.vidBtn-container {width:100%}
.vidBtn-container button {clear:none; display:inline}
.pink-btn {min-width:166px}
}


@media only screen and (max-width: 1250px)
.parallax-box {
background-attachment: initial !important;
height: auto !important;
-moz-background-size: cover !important;
-webkit-background-size: cover !important;
-ms-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
background: no-repeat !important;
min-height: 300px !important;
display: block;
clear: both;
}
